In [2]:
def test():
    pass

In [4]:
test()

In [5]:
def test1():
    print("This is my first function")

In [6]:
test1()

This is my first function

In [7]:
type(test1())

This is my first function

NoneType

In [13]:
str(test1())

This is my first function

'None'

In [14]:
test1() + " sudh"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [19]:
str(test1()) + " sudh"

This is my first function

'None sudh'

In [9]:
def test2():
    return "This is my first return"

In [10]:
test2()

'This is my first return'

In [11]:
type(test2())

str

In [17]:
test2() + " sudh"

'This is my first return sudh'

In [1]:
# returning multiple data
def test3():
    return "sudh", 23, 245, [1,2,3,4]

In [13]:
test3()

('sudh', 23, 245, [1, 2, 3, 4])

In [14]:
type(test3)

function

In [15]:
type(test3())

tuple

In [3]:
a,b,c,d = test3() # multiple variable assignment

In [23]:
a

'sudh'

In [24]:
b

23

In [25]:
c

245

In [26]:
d

[1, 2, 3, 4]

In [4]:
def test4():
    a = 5+6/7
    return a

In [5]:
test4.__doc__

In [19]:
def test5(a,b,c):
    d = a+b/c
    return d

In [20]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [41]:
test5(2,5,8)

2.625

In [42]:
def test6(a,b):
    return a+b

In [43]:
test6(3,4)

7

In [45]:
test6("sudhansu ", "kumar")

'sudhansu kumar'

In [46]:
test6([1,2,3,4], [5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
# write a function which gives a list of only numeric values 
# from the below list l

l = [1,2,4,3.45, "sudh", "kumar", [1,2,3,4,5,6]]

In [22]:
def fun(l):
    """it is a function which extracts only the numeric value from the list
    """
    l1 = []
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [23]:
def test7(l):
    """
        This is a docstring of test7.
        this function extracts numeric data from a list
    """
    l1 = []
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
        elif type(i) == list:
            l1.extend(fun(i))
    return l1

In [24]:
test7(l)

[1, 2, 4, 3.45, 1, 2, 3, 4, 5, 6]

In [25]:
fun.__doc__

'it is a function which extracts only the numeric value from the list\n    '

In [26]:
test7.__doc__

'\n        This is a docstring of test7.\n        this function extracts numeric data from a list\n    '

In [90]:

def test8(a, b):
    return a + b

In [92]:
# variable length arguments
# * -> means n no. of arguments we can pass
# data will be stored inside the args variable in the form of tuple
# args is not a keyword it is just the name of a variable. we can
# give any name to the variable.conventionally args is given as a name
def test9(*args):
    return args

In [93]:
test9()

()

In [94]:
type(test9())

tuple

In [95]:
test9(1,2)

(1, 2)

In [97]:
test9(1,2,3,4,"sudh", "kumar", [1,2,3,4])

(1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4])

In [7]:
def test10(*args, a):
    return args,a

In [8]:
test10(1,2,3,4,23)

TypeError: test10() missing 1 required keyword-only argument: 'a'

In [9]:
test10(1,2,3,4, a = 23)

((1, 2, 3, 4), 23)

In [30]:
# default values

In [10]:
def test11(c,d,a=23, b=10):
    return a,b,c,d

In [11]:
test11(1,2)

(23, 10, 1, 2)

In [12]:
test11(1,2,3)

(3, 10, 1, 2)

In [13]:
test11(1,2,b=12)

(23, 12, 1, 2)

In [14]:
test11(1,2,a=12)

(12, 10, 1, 2)

In [15]:
test11(3,4,1,2)

(1, 2, 3, 4)

In [118]:
def test12(*a):
    return sum(a)

In [120]:
test12(1,2,3)

6

In [122]:
# keyword args

In [123]:
# if we want to get data in k,v pair then keyword args will be used

In [146]:
# we can give n number of arguments in the form of key value pair
def test13(**kwargs):
    return kwargs

In [147]:
test13()

{}

In [148]:
type(test13())

dict

In [150]:
test13(a=[1,2,3,4], b=1.2, c='leo')

{'a': [1, 2, 3, 4], 'b': 1.2, 'c': 'leo'}

In [23]:
def fun(**name):
    for k,v in name.items():
        print('key: ',k,' -> ',v)
    return name

In [24]:
d = fun(son='atish',dad='ajoy',mom='santi',sis=['kochi', 'botka'], uncle=['alok','krishna'])

key:  son  ->  atish
key:  dad  ->  ajoy
key:  mom  ->  santi
key:  sis  ->  ['kochi', 'botka']
key:  uncle  ->  ['alok', 'krishna']

In [25]:
d

{'son': 'atish',
 'dad': 'ajoy',
 'mom': 'santi',
 'sis': ['kochi', 'botka'],
 'uncle': ['alok', 'krishna']}

In [34]:
[[j for j in range(10)] for i in range(10)]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [28]:
import os

In [29]:
os

In [30]:
os.getpid()

3038