In [2]:
def test():
    pass

In [11]:
def test1():
    print("This is my first function")

In [12]:
test1()

This is my first function

In [13]:
str(test1())

This is my first function

'None'

In [14]:
test1() + " sudh"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [19]:
str(test1()) + " sudh"

This is my first function

'None sudh'

In [15]:
def test2():
    return "This is my first return"

In [16]:
test2()

'This is my first return'

In [17]:
test2() + " sudh"

'This is my first return sudh'

In [20]:
# returning multiple data
def test3():
    return "sudh", 23, 245, [1,2,3,4]

In [21]:
test3()

('sudh', 23, 245, [1, 2, 3, 4])

In [27]:
type(test3)

function

In [29]:
type(test3())

tuple

In [22]:
a,b,c,d = test3() # multiple variable assignment

In [23]:
a

'sudh'

In [24]:
b

23

In [25]:
c

245

In [26]:
d

[1, 2, 3, 4]

In [30]:
def test4():
    a = 5+6/7
    return a

In [33]:
test4()

5.857142857142857

In [39]:
def test5(a,b,c):
    d = a+b/c
    return d

In [40]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [41]:
test5(2,5,8)

2.625

In [42]:
def test6(a,b):
    return a+b

In [43]:
test6(3,4)

7

In [45]:
test6("sudhansu ", "kumar")

'sudhansu kumar'

In [46]:
test6([1,2,3,4], [5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
# write a function which gives a list of only numeric values 
# from the below list l

l = [1,2,4,3.45, "sudh", "kumar", [1,2,3,4,5,6]]

In [78]:
def fun(l):
    """it is a function which extracts only the numeric value from the list
    """
    l1 = []
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [83]:
def test7(l):
    """
        This is a docstring of test7.
        this function extracts numeric data from a list
    """
    l1 = []
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
        elif type(i) == list:
            l1.extend(fun(i))
    return l1

In [84]:
test7(l)

[1, 2, 4, 3.45, 1, 2, 3, 4, 5, 6]

In [82]:
fun.__doc__

'it is a function which extracts only the numeric value from the list\n    '

In [89]:
test7.__doc__

'\n        This is a docstring of test7.\n        this function extracts numeric data from a list\n    '

In [90]:

def test8(a, b):
    return a + b

In [92]:
# variable length arguments
# * -> means n no. of arguments we can pass
# data will be stored inside the args variable in the form of tuple
# args is not a keyword it is just the name of a variable. we can
# give any name to the variable.conventionally args is given as a name
def test9(*args):
    return args

In [93]:
test9()

()

In [94]:
type(test9())

tuple

In [95]:
test9(1,2)

(1, 2)

In [97]:
test9(1,2,3,4,"sudh", "kumar", [1,2,3,4])

(1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4])

In [98]:
def test10(*args, a):
    return args,a

In [99]:
test10(1,2,3,4,23)

TypeError: test10() missing 1 required keyword-only argument: 'a'

In [100]:
test10(1,2,3,4, a = 23)

((1, 2, 3, 4), 23)

In [121]:
# default values

In [111]:
def test11(c,d,a=23, b=10):
    return a,b,c,d

In [112]:
test11(1,2)

(23, 10, 1, 2)

In [117]:
test11(1,2,3)

(3, 10, 1, 2)

In [118]:
def test12(*a):
    return sum(a)

In [120]:
test12(1,2,3)

6

In [122]:
# keyword args

In [123]:
# if we want to get data in k,v pair then keyword args will be used

In [146]:
# we can give n number of arguments in the form of key value pair
def test13(**kwargs):
    return kwargs

In [147]:
test13()

{}

In [148]:
type(test13())

dict

In [149]:
d = {'a':1}

In [150]:
test13(a=[1,2,3,4], b=1.2, c='leo')

{'a': [1, 2, 3, 4], 'b': 1.2, 'c': 'leo'}