In [18]:
# List comprehension

In [19]:
l = [1, 2, 3, 4, 5, 45, 6]

In [3]:

# make another list which should contain the square of each elements of l

In [4]:
# Approach-1 [we can do this normally]

l1 = []

for e in l:
    l1.append(e**2)

In [5]:
l1

[1, 4, 9, 16, 25, 2025, 36]

In [6]:
# Approach-2 [using list comprehension]
[item**2 for item in l]

[1, 4, 9, 16, 25, 2025, 36]

In [38]:
# make a list using list compreshension
# which should contain square of only even numbers of l

In [7]:
[i**2 for i in l if i%2==0]

[4, 16, 36]

In [8]:
l1 = ['sudh', "pwskills", "data science masters"]

In [9]:
# convert all the elements into uppercase of l1
# and return all of them as list

In [10]:
[st.upper() for st in l1]

['SUDH', 'PWSKILLS', 'DATA SCIENCE MASTERS']

In [ ]:
# tuple comprehension

In [11]:
l

[1, 2, 3, 4, 5, 45, 6]

In [15]:
t = (i**2 for i in l)

In [16]:
t

In [17]:
tuple(t)

(1, 4, 9, 16, 25, 2025, 36)

In [20]:
# dictionary comprehension

In [25]:
d = {
    "key1":1,
    "key2":2,
    "key3":3,
    "key4":4,
}

In [33]:
# return a dictionary which contains the square of all values of d
# key should not be altered. only values will be modified

In [34]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [35]:
# return a dictionary which contains the square of all values of d
# key should not be altered. only values will be modified
# but only those values of d will be modified which has value greater than 1

In [37]:
{k:v**2 for k,v in d.items() if v>1}

{'key2': 4, 'key3': 9, 'key4': 16}