In [46]:
l = [1,2,3,4,5]

In [47]:
# print all the elements of list l with its data type
for i in l:
    print(i," -> ", type(i))

1  ->  <class 'int'>
2  ->  <class 'int'>
3  ->  <class 'int'>
4  ->  <class 'int'>
5  ->  <class 'int'>

In [7]:
l1 = ["sudh", "kumar", "krish", "naik"]

In [8]:
# For - else loop
"""
1. -> only available in python
2. -> else portion will be executed only when for loop
      will be iterating completely. If for loop is unable to
      iterate completely then else part will not be executed.
"""
for i in l1:
    print(i)
else:
    print("do something")

sudh
kumar
krish
naik
do something

In [9]:
for i in l1:
    if(i=='kumar'):
        break
    print(i)

sudh

In [10]:
# here for loop is not able to perform all iterations. here it is breaking up
# in second iteration.that's why else part will not be executed.
for i in l1:
    if(i=='kumar'):
        break
    print(i)
else:
    print("do something")

sudh

In [11]:
for i in l1:
    if(i=='kumar'):
        continue
    print(i)

sudh
krish
naik

In [12]:
# here for loop is performing all iterations. that's why else part will be
# executed 
for i in l1:
    if(i=='kumar'):
        continue
    print(i)
else:
    print("do something")

sudh
krish
naik
do something

In [13]:
#  range function.
"""
It is a generator function which helps to generate integer data
"""
range(5) # It will generate integers from 0 to 4. here 5 will be excluded

range(0, 5)

In [14]:
list(range(5)) # List is used to see the generated data

[0, 1, 2, 3, 4]

In [15]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [16]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [18]:
list(range(-10, 0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [19]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [20]:
# reverse the list l1 using for loop and range function
for i in range(len(l1)-1, -1, -1):
    print(l1[i])

naik
krish
kumar
sudh

In [21]:
l2 = [23, 5, 45, 56, 6, 67, 67, 78, 87, 89998, 9,9,8]

In [22]:
# print elements which are present in even indexes.
# consider 0-based indexing
for i in range(0, len(l2), 2):
    print("index ",i,"->",l2[i])

index  0 -> 23
index  2 -> 45
index  4 -> 6
index  6 -> 67
index  8 -> 87
index  10 -> 9
index  12 -> 8

In [23]:
l = [1,2,3,4,7,8,98]

In [28]:
# print sum of all elements in above list l
# Approach - 1
sum(l)

123

In [25]:
# Approach - 2
result = 0
for i in l:
    result += i
print(result)

123

In [29]:
t = (1,2,3,4,4,5)

In [30]:
# printing all elements of tuple t one by one using for loop
for i in t:
    print(i, end=" ")

1 2 3 4 4 5

In [32]:
s = {1,2,3,4,5, "sudh", "pwskills"}

In [33]:
# printing all elements of set one by one using for loop
for i in s:
    print(i, end=" ")

1 2 3 4 5 pwskills sudh

In [34]:
sum(range(5))

10

In [35]:
s1 = "pwskills"

In [37]:
# printing all characters of string s1 one by one using for loop
for i in s1:
    print(i, end=" ")

p w s k i l l s

In [38]:
d = {
    "name": "sudh",
    "class": "data science",
    "topic": ["python", "stats", "machine learning", "DL", "CV","NLP","resume","interview"]
}

In [42]:
# print values on the basis of key one by one in above dictionary using for loop
for k in d.keys():
    print("key: ",k," -> ", d[k]) # here k is the key and d[k] is the associate vaue with key 'k'

key:  name  ->  sudh
key:  class  ->  data science
key:  topic  ->  ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [43]:
# print values only one by one without the help of keys in above dictiobnay d
# using for loop
for v in d.values():
    print(v)

sudh
data science
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [44]:
# print all items of dicitionary in (k,v) pair using for loop
for item in d.items():
    print(item)

('name', 'sudh')
('class', 'data science')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])

In [54]:
for x in range(10):
    pass
    print(x)

0
1
2
3
4
5
6
7
8
9

In [49]:
sum = 0

for i in range(1,100):

    sum += i

    if sum > 100:

        break

print(sum)

105

In [56]:
i = 0
while i < len(t):
    print(t[i])
    i+=1

1
2
3
4
4
5

In [57]:
for course in ['Data Science Masters', 'ML', 'data science masters', 'DL']:

    if len(course)!= 2:

        print('PwSkills' , end=' ')

PwSkills PwSkills

In [58]:
t[2]

3

In [62]:
t1 =(9,9)

In [63]:
t1

(9, 9)

In [64]:
type(t1)

tuple

In [73]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

In [77]:
set1.update([10])

In [81]:
ml = [None]

In [82]:
ml

[None]