In [42]:
# Multi variable assignment

a,b = 1,2

# Assignment operation always works from right to left in Python
# here on the right a tuple of (1,2) has been created
# then it is iterated over and its consequent values are assigned 
# to the comma separated list of variables on the left i.e. on a & b

In [43]:
#  1. common use is when we want to assign new values based on existing values
# example-(a)
a=10
b=5
a,b = a+b, a*b

In [44]:
a,b

(15, 50)

In [45]:
# example-(b)
a = 10
b = 5
a = a+b
b = a*b

In [46]:
a,b

(15, 75)

In [47]:
#  2. common use is when we want to swap values
a = 10
b = 11

# swap
a,b = b,a

In [48]:
a,b

(11, 10)

In [41]:
a = 1

while a <= 10:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [76]:
# sum up the number till some point
n = int(input("Enter the limit\n"))
result = 0
starting_point = 1

while starting_point <= n:
    result += starting_point
    starting_point += 1
    
print(result)

Enter the limit
5
15

In [9]:
# calculate factorial
n = int(input("Enter the number\n"))
fact = 1
while n > 0:
    fact *= n
    n-=1
print(fact)

Enter the number
5
120

In [52]:
# Fibonacci series
# Approach-1 (using while loop)
n = int(input("Enter the no of fibonacci numbers\n"))

a,b = 0,1 # multi variable assignment

while n > 0:
    print(a, end=' ')
    c = a + b
    a = b
    b = c
    n-=1

Enter the no of fibonacci numbers
10
0 1 1 2 3 5 8 13 21 34

In [53]:
# Approach-2 (using for loop)
n = int(input("Enter the no. of fibonacci numbers\n"))

a,b=0,1

for i in range(n):
    print(a, end=' ')
    c = a+b
    a,b=b,c # multi variable assignment

Enter the no. of fibonacci numbers
10
0 1 1 2 3 5 8 13 21 34

In [64]:
s = input("Enter string for reversal\n")

Enter string for reversal
krishnaik

In [69]:
# reverse the above string s using while loop
index = len(s)-1
reverse = ''
while index >= 0:
    reverse += s[index]
    index -= 1
print(reverse)

kianhsirk

In [72]:
# print table of numbers
n = int(input("Enter the number whose table you want to show\n"))

count = 1

while count <= 10:
    print(n," x ",count," = ",(n*count))
    count+=1

Enter the number whose table you want to show
2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [74]:
# while - else loop

n = 5
i = 1

while i < n:
    print(i)
    i+=1
else:
    print("while loop has been executed successfully")

1
2
3

In [75]:

n = 5
i = 1

while i < n:
    print(i)
    if i==3:
        break
    i+=1
else:
    print("while loop has been executed successfully")

1
2
3